#main-home {

    #about-sect {

        margin: 0 auto;
        text-align: center;
        margin-bottom: 1em;

        h2 {
    
            font-family: $accent-font; 
        }
    
        p {
    
            text-align: left;
            padding: 0 7% 0 7%;
            line-height: 22px;
        }
    
        #about-flex {
    
            #about-pic {
    
                width: 60%;
                height: 60%;
            }

            div {

                p {

                    font-size: 1.1em;
                }
            }
    
        }

        button {

            margin-left: 10px;
        }
    
    }


}



@media screen and (min-width: 768px) {

    #main-home {

        #about-sect {
            padding: 0 7% 0 7%;
            text-align: left;
    
            p {
    
                text-align: left;
                padding-left: 2em;
            }
    
            #about-flex {
    
                display: flex;
                justify-content: center;
                //max-width: 800px;
                margin: 0 auto;
                
                
                #about-pic {
    
                    width: 50%;
                    height: 50%;
                }
    
                button {
    
                    margin-left: 2.2em;
                    margin-top: 1em;
                    margin-bottom: 1em;
                }
    
            }
        }


    }

    
}
