.hidden-lightbox {

    margin: 0 auto;
    overflow: hidden;
   transition: all 0.7s;
    max-height: 0;
    position: absolute;
}

#research-lightbox.show-section {

    //min-height: 750px;
    position: absolute;
    bottom: auto;
}

#projects-lightbox.show-section {

    //min-height: 750px;
    bottom: -30%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .image-section #research-image {
        width: 60%;
    }

}

#playBtn {

    i {

        font-size: 2em;
        margin-top: 10px;
    }
}

.lightbox_icon {

    background-color: transparent;
    height: 2px;
    background-color:$text-color;
    display: inline-block;
    font-size:2.5em;
    position: relative;
    margin-top: 10px;
    margin-left:20px;
    top: 0;
    width: 0px;
    transition: 0.6s color ease;
}

.lightbox_icon:hover {

   color: $accent-color;
}

.show-section {

    overflow: visible;
    background-color: $second-bckgrnd;
    min-height: 750px;
    position: fixed;
    //bottom: -10%;
    margin: 0 auto;
    z-index: 100;

}

/*Lightbox Text Styles */
.project-text {

    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    .project-features {

        font-weight: bold;
    }

    .project-desc {

        text-align: left;
    }

    h2 {

        font-size: 1.1em;
        text-align: center;
    }
}

.image-section {

    text-align: center;
    img {

        width: 80%;
    }
}

/* Lightbox Arrow Styles */

.hidden-lightbox.lightbox.show-section {

    div.first-arrow  {

        font-size: 2.5em;
        right: 15px;
        top: 150px;
        position: absolute;
        color: $text-color;
        transition: 0.4s color ease;

        }


    div.first-arrow:hover {

        color:$accent-color;
    }
    
    div.second-arrow {
    
        font-size: 2.5em;
        left: 15px;
        top: 150px;
        position: absolute;
        color: $text-color;
        transition: 0.4s color ease;
    }

    div.second-arrow:hover {

        color:$accent-color;
    }
}

/* Video Styles */

.hidden-lightbox.lightbox.show-section div.hide-video-section {

    display: none;
}

.hidden-lightbox.lightbox.show-section div.show-video-section {

    display: block;
}

#videoElement {

    width: 100%;
}

.controls {

    margin: 0 auto;
    display: flex;
    justify-content: center;

    ul {

        display: inline-block;
        margin: 0 auto;

        li {

            display: inline-block;
            margin-right: 20px;

            i {

                font-size: 3em;
                margin-top: 50px;
            }
        }
    }
    
}


 /*Media Queries for Lightbox */

@media screen and (min-width: 768px) {

    .show-section {

        bottom: auto;
        width: 100%;
        position: absolute;

    
    }
}

@media screen and (min-width: 1024px) {


    .lightbox-flex {

        display: flex;
        padding-top: 0px;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
    }

    .image-section {

        img {
    
            width: 80%;
        }
    }
}

@media screen and (min-width: 1024px) {

    .project-text {

        padding-left: 50px;
        padding-right: 50px;
        max-width: 300px;
    }

}




