.loading {

    background-color: $second-bckgrnd;
    color:$text-color;
    font-size: 4em;
    font-family: $accent-font;
    padding-top: 50vh;
    height: 100vh;
    text-align: center;

}

@media screen and (min-width: 768px) {

    .loading {

        font-size: 5em;
        padding-top: 30vh;
    }
}