
#error-sect, #success-sect, #email-error-sect {

    text-align: center;
    min-height: 80vh;

    img {

        width: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {

        margin-bottom: 20px;
    }

}

